resume-landing/node_modules
resume-landing/dist
resume-landing/package-lock.json

server/node_modules
server/dist
server/package-lock.json
server/constants

wav-compressor/node_modules
wav-compressor/dist
wav-compressor/package-lock.json

news-feed/node_modules
news-feed/dist
news-feed/package-lock.json
news-feed/src/api/vkApi.ts
