@import "@styles/index";

.profile {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;

  padding: $ui-step * 3;

  background-color: $color-profile-background;

  @include text-14-regular;
  color: $color-text-primary;
}

.content {
  flex: 1;
}

.button {
  min-width: 100px;

  background-color: $color-button-backgorund;
  color: $color-button-text;

  align-self: center;
  margin-top: auto;

  &:hover {
    background-color: $color-button-backgorund-hover;
  }

  @media (min-width: $screen-tab) and (max-width: $screen-desktop) {
    margin-top: $ui-step * 4;
  }
}

.loading {
  width: 12px;
}

.error {
  color: $color-text-error;
}
