@import "@styles/index";

.avatarContainer {
  position: relative;
  padding: $ui-step;
  width: 80px;
  border-radius: 100%;
  overflow-y: hidden;

  .avatarIcon {
    position: absolute;
    z-index: 101;
    bottom: 3px;
    right: 14px;
    width: 24px;
    cursor: pointer;

    svg {
      fill: black;
      stroke: black;
      background-color: white;
      border-radius: 100%;
    }
  }
}

.avatar {
}

.input {
  display: none;
}
