/* Global */
/* Text */
$color-text-primary: gray;
$color-text-secondary: gray;
$color-text-error: red;
$color-text-link: gray;

$color-border: gray;
$color-loading-spinner: black;

/* Button */
$color-button-backgorund: gray;
$color-button-backgorund-hover: darkgray;
$color-button-text: #fff;

/* App */
$color-app-background: #111;

/* Header */
$color-header-background: green;

/* Footer */
$color-footer-background: green;

/* Login Page */
$color-login-page-background: #fff;
$color-label-login: gray;

/* Registration Page */
$color-registration-page-background: #fff;

/* News Page */
$color-background-news-page: #fff;

/* Content */
$color-content-background: white;
$color-content-border: gray;

/* Profile */
$color-background-profile: white;

/* Tab */
$color-background-tab-item: #fff;
$color-background-tab-item-active: red;

$color-tab-label: black;
$color-tab-label-active: white;

$color-tab-icon: black;
$color-tab-icon-active: white;
