/* Global */
/* Text */
$color-text-primary: gray;
$color-text-secondary: gray;
$color-text-error: red;
$color-text-link: gray;

$color-border: gray;
$color-loading-spinner: black;

/* Button */
$color-button-backgorund: gray;
$color-button-backgorund-hover: darkgray;
$color-button-text: #fff;


/* App */
$color-app-background: #111;

/* Header */
$color-header-background: green;

/* Footer */
$color-footer-background: green;

/* Login Page */
$color-login-page-background: #fff;
$color-label-login: gray;

/* Registration Page */
$color-registration-page-background: #fff;

/* Content */
$color-content-background: white;
$color-content-border: gray;
