@import "@styles/colors.scss";

$ui-step: 4px;

$ui-border-radius-mobile: 4px;
$ui-border-radius-desktop: 4px;

$ui-border-mobile: 1px solid $color-border;
$ui-border-desktop: 1px solid $color-border;

$ui-border-button: 1px solid $color-border;
